* {
    padding: 0;
    margin: 0;
}

.App {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1200px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    padding: 50px;
    background-color: aliceblue;
    height: auto;
    width: 1500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container-card {
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
}

.texto {
    word-break: break-all;
}

span {
    color: rgb(0, 0, 0);
}

